body,html,head {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: #f8e596;
    justify-content: center;
align-items: center;
}

.main-container {
    height: 100%;
    width: 100%;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
}

.main-container>.login, .main-container>.hero-body {
    height: 100%;
    width: 100%;
}

.main-container>.hero-body {
    text-align: center;
    justify-content: center;
    display: flex;


}

.form-inline {
    display: inline-flex;
}

/* Cambia el color del navbar-link al hacer hover o estar activo */
.navbar-item.has-dropdown:hover .navbar-link,
.navbar-item.has-dropdown.is-active .navbar-link {
    color: black !important;
    font-weight: bold;
}

/* Color inicial para los navbar-link */
.navbar-link {
    color: white !important;
}

/* Ajustes para el dropdown de usuario */
.navbar-dropdown {
    background-color: #74c4c4;
}
.navbar-dropdown a.navbar-item:hover {
    background-color: #5aa8a8;
    color: white !important;
}