body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    padding: 30px;
}

.container {
    max-width: 700px;
    margin: auto;
    background-color: #fff;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 0 15px #ccc;
}

h1 {
    text-align: center;
    margin-bottom: 30px;
}

form label {
    display: block;
    margin-top: 15px;
}

form select, form button {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    font-size: 16px;
}

button {
    background-color: #007BFF;
    color: white;
    border: none;
    margin-top: 20px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}


